/* Table */
.list-items-container {
	padding: 16px 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	gap: 16px;
}

.list-item--container {
	padding: 16px 12px;
	width: 100%;
	overflow-x: auto;
	background-color: #cccccc;
}

.list-item--title {
	padding: 16px 0;
}

.list-item--table-container {
	overflow-x: scroll;
}

.list-item--table-container::-webkit-scrollbar {
	display: none;
}

.list-item--table {
	width: 640px;
}

.list-item--table--head-column {
	display: flex;
	align-items: center;
	gap: 8px;
}

.list-item--table--head-column svg {
	flex-shrink: 0;
}

.list-item--table th,
.list-item--table td {
	padding: 8px 0;
	text-align: left;
}

.list-item--table td:last-child,
.list-item--table th:last-child {
	width: 280px;
	max-width: 280px;
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.list-item--table td:not(:last-child),
.list-item--table th:not(:last-child) {
	width: auto;
}

.list-item--table th {
	font-weight: bold;
}

.list-item--table td {
	word-wrap: break-word;
}

.list-item-action--container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.list-item-bin {
	cursor: pointer;
}

@media (min-width: 768px) {
	.list-item--table {
		width: 100%;
		max-width: 960px;
	}
}
