/* Toggle Switch */
.toggle-btn {
	background-color: #b7b9ba;
	border: 1px solid transparent;
	border-radius: 99px;
	width: 50px;
	height: 28px;
	transition: background-color 0.1s ease, border-color 0.2s ease;
	position: relative;
}

.toggle-btn .thumb {
	width: 26px;
	height: 26px;
	background-color: #fff;
	border-radius: 99px;
	transform: translateX(0);
	transition: left 0.15s ease;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.toggle-btn.toggled {
	background-color: #15b58e;
}

.toggle-btn:hover {
	border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb {
	left: calc(50px - 28px);
}
